# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dataset_class/data_folder/ChatGPT_SDDB2/chatgpt-images/
/dataset_class/data_folder/90k_public/90k-images/
/dataset_class/data_folder/SDDB2_2M_75/SDDB2-images/
/dataset_class/data_folder/90k_public/eval_images/
/dataset_class/data_folder/90k_public/train_images/
/dataset_class/data_folder/30k_public/artifacts/
.DS_Store
dataset_class/embedding_table.pth
